datasets
datasets/*.zip
downloaded_pdf/*.pdf
extract_images/*.jpg
cropped_text_images/*.png
*.zip
cropped_text_images
cropped_text_images/*.*
test_data
annotation.txt
error.log
data_server
check_image_text_file.py
create_data.py
images
output
output.txt
get_data_from_server.py
recog_data
